USE [master]
GO
/****** Object:  Database [db_Cetipolis]    Script Date: 09/19/2016 16:41:44 ******/
CREATE DATABASE [db_Cetipolis] ON  PRIMARY 
( NAME = N'db_Cetipolis', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\db_Cetipolis.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_Cetipolis_log', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\db_Cetipolis_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_Cetipolis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_Cetipolis]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 09/19/2016 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] NULL,
	[name] [varchar](20) NULL,
	[lastName] [varchar](20) NULL,
	[username] [varchar](20) NULL,
	[password] [char](64) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
